# dependencies
node_modules/
/.pnp
.pnp.js

# env
.env
.env.local
.env.production
.dev.vars

# build output
out/
**/.output/

# build
build/
dist/

# testing
coverage/
.playwright-cli/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ide
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets

# misc
.DS_Store
*.pem
*.tsbuildinfo

# vercel
.vercel

# husky/lefthook
.husky/
